{% extends 'base.html.twig' %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

<div class="container">
    <a href="{{path('app_homepage')}}">y a du flash???</a>
</div>

{% endblock %}