{% extends 'base.html.twig' %}

{% block body %}

<h1>Envoi d'email ok</h1>
<p>bien joué bro</p>
{{email}}

<div class="container">
    <a href="{{path('app_homepage')}}">Retour accueil</a>
</div>

{% endblock %}